

* {
  padding: 0px;
  margin: 0px;
}
html {

}
body {
  background-image: url(Media/Image/bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

hr {
  border: 1px solid black;
}

.sticky {
  width: 320px;
  height: 40px;
  position: sticky;
  top: 0;
  margin-top: 5px;
  margin-left: 25px;
}


.Home {
width: 100%;
height: 420px;
}
.fa {
  width: 100px;
  height: 50px;
  margin-left: 20px;
  margin-bottom: 10px;
  padding: 5px;
}
.fab {
  font-size: 25px;
  color: orange;
}
.Home img {
  width: 100px;
  height: 100px;
  margin: 20px;
  float: left;
  margin-right: 10px;
}
.HomA {
  color: yellow;
  padding-top: 50px;
  font-family: Times New Roman;
}
.clear {
  clear: left;
}
.HomB {
  width: 95%;
  height: 80px;
  margin: auto;
  text-align: center;
  font-size: 15px;
  color: yellow;
  font-family: Times New Roman;
}

.Comunity {
  width: 100%;
  height: 720px;
}

.ComA {
  text-align: center;
  color: white;
  font-size: 15px;
  font-family: Times New Roman;
  padding: 25px 25px;
}

.c2 {
  border: 1px solid yellow;
  width: 320px;
  height: 200px;
  padding: 10px;
  margin-left: 10px;
}

.Contact {
  width: 100%;
  height: 720px;
}
.Con {
  text-align: center;
  color: white;
  font-size: 15px;
  font-family: Times New Roman;
  padding: 25px 25px;
}



.contact__input {
  width: 50%;
  height: 25px;
  border: 2px solid green;
  background-color: transparent;
  border-radius: 0.2rem;
  margin-left: 15px;
  margin-top: 10px;
}

.contact__inputs {
  width: 50%;
  height: 75px;
  border: 2px solid green;
  border-radius: 0.2rem;
  background-color: transparent;
  margin-left: 15px;
  margin-top: 10px;
}

.contact__button {
  display: block;
  outline: none;
  font-size: 15px;
  cursor: pointer;
  background-color: transparent;
  margin-left: 15px;
  margin-top: 10px;
  border: 2px solid green;
  font-family: bold;
  color: white;
}

.Copyright {
  width: 100%;
  height: 20px;
  background-color: black;
  color: white;
  text-align: center;
  font-family: bold;
  margin-bottom: 0px;
}